body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
}

/* login page */
.login-container {
    background-color: #f7f7f7;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(50%);
}

.login-container svg{
    vertical-align: middle;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.login-container h2 {
    margin-bottom: 20px;
    font-size: 18px;
    color: #fff;
    background-color: #2289dd;
    padding: 10px;
    border-radius: 5px 5px 0 0;
}

.login-container input {
    width: calc(100% - 40px);
    padding: 10px 10px 10px 40px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}


.login-container button[type="button"] {
    width: 80px;
    height: 35px;

} 

.login-container button[type="button"] {
    width: 100%;
    background-color: #2289dd;
    color: #fff;
    cursor: pointer;
    border: none;
    font-size: 16px;
    border-radius: 5px;
}

.login-container button[type="button"]:hover {

    background-color: #418bcb;
}

.login-container .icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
}

.icon-user {
    top: 65px;
}

.icon-lock {
    top: 125px;
}

/* page all */
.sidebar {
    width: 220px;
    background-color: #2a3b4c;
    height: calc(100vh - 60px);
    position: fixed;
    color: white;
    top: 60px;
    left: 0;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 15px;
    text-align: left;
}

.sidebar ul li a {
    font-family:'Times New Roman', Times, serif;
    padding: 6px 9px;
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.sidebar ul li a:hover {
    background-color: #3a4c5f;
    transition: 0.3s;
    border-radius: 5px;
}

.sidebar svg {
    margin-right: 1px;
    vertical-align: middle;
}

.content {
    margin-left: 250px;
    padding: 20px;
    padding-top: 70px;
}

.navbar {
    background-color: #1f73c6;
    padding: 20px;
    padding-left: 10px;
    color: white;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar span{
    display: flex;
    align-items: center;
}

.navbar a{
    color: inherit;
    text-decoration: none;
}

.navbar svg {
    margin-right: 8px;
    width: 25px;
    height: 25px;
}

.dashboard h1 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    margin-bottom: 10px;
}

.dashboard h1 svg{
    width: 25px;
    height: 25px;
    padding-right: 5px;
    margin-right: 5px;
    margin-top: -8px;
    color: #000;
}

.dashboard p {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 10px;
    padding-left: 10px;
    color: #347d93;
    margin-bottom: 20px;
    background-color: #99ceff;
    width: 99%;
    height: 35px;
    
}

.dashboard svg{
    color: #347d93;
    vertical-align: middle;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.card {
    padding: 50px;
    border-radius: 5px;
    color: white;
    text-align: center;
    font-size: 18px;
}

.cards {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cards span a {
    margin-top: 10px;
    font-size: 20px;
    color: inherit;
    text-decoration: none;
}

.cards .card span {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .cards .card span svg {
    opacity: 0.5;
    width: 35px;
    height: 35px;
  }
  

.red {
    background-color: #00c427;
}

.red svg{
    color: #fff;
}


.purple {
    background-color: #3f88fd;
}

.purple svg{
    color: #fff;
}

#filterBarang {
    position: absolute;
    top: 30%;
    right: 2%; 
    margin-top: 50vh;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    cursor: pointer;
    transition: all 0.3s ease;
    z-index: 10; 
}

.prediksi-wrapper {
    padding: 20px;
}

.prediksi-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.prediksi-header h1 {
    font-size: 24px;
    margin: 0;
    color: #333;
}

.prediksi-header svg {
    height: 20px;
    width: 20px;
    vertical-align: middle;
    margin-right: 5px;
}

.prediksi-header button {
    background-color: #1fc048;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.prediksi-header button:hover {
    background-color: #0faf09;
}

.prediksi-table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}

.prediksi-table th,
.prediksi-table td {
    text-align: left;
    padding: 8px;
    border: 2px solid #3a3a3a;
}

.prediksi-table th {
    text-align: center;
    background-color: #58acff;
    color: white;
}

.prediksi-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

#filterBarang:hover {
    background-color: #dddddd;
}

.chart-container {
    position: relative; 
}

/* Wrapper untuk upload file */
.file-upload-wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
    background-color: #f7fafc; /* Warna latar belakang yang lembut */
    padding: 20px;
    border: 1px solid #e2e8f0; /* Warna border yang halus */
    border-radius: 10px; /* Membuat sudut membulat */
    max-width: 400px; /* Batasan lebar */
  }
  
  /* Label styling */
  .file-upload-wrapper label {
    font-weight: bold;
    color: #2d3748; /* Warna teks yang gelap */
    margin-bottom: 5px;
  }
  
  /* Input file */
  .file-upload-wrapper input[type="file"] {
    padding: 10px;
    font-size: 14px;
    background-color: #fff;
    border: 1px solid #cbd5e0;
    border-radius: 5px;
    cursor: pointer;
    transition: border-color 0.3s;
  }
  
  .file-upload-wrapper input[type="file"]:hover {
    border-color: #3182ce; /* Warna border saat hover */
  }
  
  /* Tombol */
  button#process-data {
    background-color: #4299e1; /* Warna tombol utama */
    color: #fff; /* Warna teks */
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    display: block;
    margin-top: 10px;
  }
  
  button#process-data:hover {
    background-color: #2b6cb0; /* Warna tombol saat hover */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Bayangan saat hover */
  }

  /* Tombol Download PDF */
button#download-pdf {
    background-color: #48bb78; /* Warna hijau untuk tombol PDF */
    color: #fff; /* Warna teks */
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    display: block;
    margin-top: 10px;
  }
  
  button#download-pdf:hover {
    background-color: #38a169; /* Warna hijau gelap saat hover */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Bayangan saat hover */
  }
  
  
  /* Responsif */
  @media (max-width: 768px) {
    .file-upload-wrapper {
      width: 100%;
    }
    button#process-data {
      width: 100%;
    }
  }
  
/* Profile Page */
.body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  /* Profile Container */
  .profile-container {
    display: flex;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 800px;
    width: 100%;
    min-width: 980px;
  }
  
  /* Profile Card Section */
  .profile-card {
    background-color: #f0f4f8;
    padding: 20px;
    text-align: center;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .profile-card, .profile-details{
    flex: 1;
    padding: 20px;
    width: 100%;
  }

  .profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid black;
    margin-bottom: 15px;
  }
  
  .job-title {
    color: #777;
    font-size: 14px;
    margin: 5px 0;
  }
  
  .location {
    color: #555;
    font-size: 12px;
  }
  
  .action-buttons {
    margin-top: 15px;
  }
  
  .btn {
    background-color: #25D366; /* Warna latar belakang WhatsApp */
    color: white; /* Warna teks */
    padding: 10px 20px; /* Ruang di dalam tombol */
    border: none; /* Menghilangkan border default */
    border-radius: 4px; /* Sudut melengkung */
    cursor: pointer; /* Menampilkan pointer saat hover */
    text-decoration: none; /* Menghilangkan garis bawah jika menggunakan <a> */
    display: inline-block; /* Menjaga tombol dalam satu baris */
}

.btn:hover {
    background-color: #128C7E; /* Warna saat hover */
}
  
  .btn.follow {
    background-color: #007bff;
    color: white;
  }
  
  .btn.message {
    background-color: #28a745;
    color: white;
  }
  
  .btn:hover {
    opacity: 0.9;
  }
  
  /* Profile Details Section */
  .profile-details {
    flex: 1;
    background-color: #fff;
    padding: 20px;
    width: 60%;
  }
  
  .profile-details h3 {
    margin: 10px 0 5px;
    font-size: 16px;
    color: #333;
  }
  
  .profile-details p {
    margin: 0 0 15px;
    color: #555;
  }
  
  .btn.location {
    background-color: #ffc107;
    color: white;
    margin-top: 10px;
  }

  .info-box {
    border: 1px solid #ddd; /* Garis luar kotak */
    border-radius: 5px; /* Sudut melengkung */
    padding: 10px; /* Ruang dalam kotak */
    background-color: #f9f9f9; /* Warna latar belakang */
    margin-bottom: 15px; /* Jarak antar kotak */
    font-size: 14px;
    color: #555;
  }

  button#svg{
    width: 30px;
    height: 30px;
  }

  @media (max-width: 768px) {
    .profile-container {
      flex-direction: column; /* Ubah jadi kolom */
    }

@media (max-width: 768px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 576px) {
    .cards {
        grid-template-columns: 1fr;
    }
  }
}